h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

#nav {
width:750px;
margin:0 auto;
list-style:none;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none; 
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.food {
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;

}
