h1 {
	text-align: center;
}

h2 {
	text-align: center;
}
#motto {
	text-align: center;
}

#nav {
	width:750px;
	margin:0 auto;
	list-style:none;
}
#nav li {
	float:left;
}
#nav a {
	display:block;
	text-align:center;
	width:150px; /* fixed width */
	text-decoration:none; 
}

.food {
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;

}
.profile{
	float: left;
	padding-left: 15em;
	padding-right: 40px;
}
/* About Us */


#name {
	text-align: left;
	padding-left: 9em;
}
.bio {
	padding-top: 40px;
}
.bar {
	clear: left;
}

/* Contact Page */

.contact {
	text-align: center;
}