/* Nav Bar */
.navigation {
/*	margin: 200px 20px;*/
	background: #86c6ff;
	overflow: hidden;
	width: 100%;
}

.navigation li {
	width: 25%;
	border-left: 5px solid #666;
	float: left;
	cursor: pointer;
	list-style-type: none;

	padding: 3px 120px 3px 15px;
	
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.navigation li h2 {
	font-family: georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	margin-bottom: 10px;
	line-height: 2px;
}
.navigation li a {
	text-decoration: none;
	color: #333333;
}
.navigation li p{
	font-size: 16px;
	color: #999;
	
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
.navigation li a:hover {
	text-decoration: none;
}

.navigation li:hover {
	background: #3AA2FF;
	border-left: 5px solid #000;
}

.navigation li:hover h2 {
	font-weight: bold;
	color: #fff;
}

.navigation li:hover p {
	color: #ccc;
	padding-left: 5px;
}

/* Globals */

.jumbotron {
	background-color: #86c6ff;
}
h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

/* Shared */
#motto {
	text-align: center;
}

#nav {
	width:750px;
	margin: 0 auto;
	list-style: none;
}
#nav li {
	float: left;
}

#nav a {
	display: block;
	text-align: center;
	width: 150px; /* fixed width */
	text-decoration: none; 
}

/* Home */
/*.review {
	list-style-type: none;
	position: absolute;
	left: 27%;
	display: inline-block;
}
.review img {
	float: left;
	margin-right: 50px;
}
.review p {
	padding-top: 10px;
	font-size: 15pt;
	display: inline-block;
}*/

.review:hover {
	background-color: #d2d2d2;
	font-weight: bold;

}
#rev1 {
	margin-left: 50px;
	margin-top: 50px;
	width: 250px;
}

#rev2 {
	margin-left: 480px;
	margin-top: -170px;
	width: 250px;

}
#rev3 {
	margin-left: 880px;
	margin-top: -190px;
	width: 250px;
}

#group {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* About Us */
.profile{
	float: left;
	padding-left: 15em;
	padding-right: 40px;
}
#name {
	text-align: left;
	padding-left: 9em;
}
.bio {
	padding-top: 20px;
	padding-right: 100px;
}
.bar {
	clear: left;
}

/* Contact Page */

.contact {
	text-align: center;
}

/* Menu */

.food {
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
}